sudo: true
cache: bundler
language: ruby
rvm:
  - 2.3.1
  - 2.2.5
  - ruby-head
  - jruby-9.0.5.0
matrix:
  allow_failures:
    - 2.2.5
    - ruby-head
    - jruby-9.0.5.0
  fast_finish: true
before_install:
  - gem install bundler -v 1.12.5
  - curl -sSf https://static.rust-lang.org/rustup.sh | sudo sh -s -- --channel=nightly
  - bundle && bundle exec rake build && rake clean
script:
  - bundle exec rake spec
  - bundle exec rake run_benchmarks
